{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Market_detail.html content starts here -->

<div class="row">
  <div class="col-sm-7 mb-3 mb-sm-0">
    <div class="card mkt-detail">
      <div class="card-body mkt-detail">
        <h5 class="card-title">Market Details</h5>
        <p class="card-text">
            <Strong> Location :</strong> {{ market.location }}<br>
            <strong> Day/Time :</strong> {{ market.day_time}}<br>
            <strong> Review Rating :</strong> {{market.review_rating}}
        </p>
        <p class="card-text">
            {{ market.content | safe }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-5 mb-3 mb-sm-0">
    <div class="card mkt-map h-100">
      <div class="card-body">
        <iframe
          title=" {{ market.name}} {{key}}"
          height = "100%"
          width = "100%"
          frameborder="0" style="border:0"
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key={{key}}&q={{ market.location }}&center={{ market.latitude }}, {{ market.longitude }}&zoom=15">
        </iframe>       
      </div>
    </div>
  </div>
</div>

{% endblock content %}