{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<!-- Market_detail.html content starts here -->
<div class="container">
  <div class="row container" id="mkt-content">
    <div class="col-sm-7 mb-3 mb-sm-0">
      <div class="card mkt-detail no-border">
        <div class="card-body mkt-detail">
          <h5 class="card-title">Market Details</h5>
          <p class="card-text sm-star">
              <Strong> Location :</strong> {{ market.location }}<br>
              <strong> Day/Time :</strong> {{ market.day_time }}<br>
              <strong> Review Rating :</strong> 
              {% if market_stars == 0 %}
              0
              {% elif market_stars == 1 %}
              <i class="fa-solid fa-star"></i>
              {% elif market_stars == 2 %}
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              {% elif market_stars == 3 %}
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              {% elif market_stars == 4 %}
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              {% elif market_stars == 5 %}
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              {% else %}
              No reviews yet
              {% endif %}<br>
              <div class="row visit">
                <div class="col-sm-3 visit"><strong>Visit Again:</strong></div>
                <div class="col-sm-9 progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: {{ visityes_percent }}%" aria-valuenow="{{ visityes_percent}}" aria-valuemin="0" aria-valuemax="100">Yes {{ visityes_percent}}%</div>
                  <div class="progress-bar bg-danger" role="progressbar" style="width: {{ visitno_percent }}%" aria-valuenow="{{ visitno_percent}}" aria-valuemin="0" aria-valuemax="100">No {{ visitno_percent }}%</div>
                </div>   
              </div> 
            </p>
            <br>
          <p class="card-text">
              {{ market.content | safe }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-5 mb-sm-0">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs", id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="map-tab" data-bs-toggle="tab" data-bs-target="#map" type="button" role="tab" aria-controls="map" aria-selected="true">Map</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pics-tab" data-bs-toggle="tab" data-bs-target="#pics" type="button" role="tab" aria-controls="pics" aria-selected="true">Pictures</button>
          </li>
        </ul>
      </div>  
      <div class="tab-content card-body">
        <div class="tab-pane active h-100 map-style" id="map" role="tabpanel" aria-labelledby="map-tab">
          <iframe
            class="map-style mkt-map"
            title=" {{ market.name}} {{key}}"
            height = "100%"
            width = "100%"
            frameborder="0" style="border:0"
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key={{ key }}&q={{ market.location }}&center={{ market.latitude }}, {{ market.longitude }}&zoom=14">
          </iframe>      
        </div>
        <div class="tab-pane h-100" id="pics" role="tabpanel" aria-labelledby="pic-tab">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for image in pictures %}
                {% if forloop.first %} 
                  <div class="carousel-item active">
                    <img src="{{ image.image.url }}" class="d-block w-100 car-pic" alt="Image no: {{ forloop.counter }}">
                  </div>
                {% else %}
                  <div class="carousel-item">
                    <img src="{{ image.image.url }}" class="d-block w-100 car-pic" alt="Image no: {{ forloop.counter }}">
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
</div>

<!-- Displaying Reviews -->
<div class="container">
  <div class="row">
    <div class="col-md-7 card mb-4 no-border">
      <h5>Reviews: {{ review_count }}</h5>    
      <div class="card-body">
        <!-- We want a for loop 
        to iterate through each review in reviews -->
        {% for review in reviews %}
          <div class="shadow review-text p-2 reviews
            {% if not review.approved and review.author == user %}
            faded{% elif not review.approved %} d-none{% endif %}">
            <p class="font-weight-bold">
              {{ review.created_on }}&nbsp|&nbsp
              <span class="font-weight-normal"> 
                {{ review.stars_rating }} star review by:&nbsp 
              </span> 
              <span class="font-weight-normal fst-italic">
                {{ review.author }}
              </span> 
              <span class="font-weight-normal">
              {{ review.visit_again.value }} 
              </span> 
            </p>
            <div id="review{{ review.id }}">
              {{ review.body | linebreaks }}
            </div>
            {% if not review.approved and review.author == user %}
             <p class="approval">
               This review is awaiting approval
             </p>
            {% endif %}
             {% if user.is_authenticated and review.author == user %}
             <button class="btn btn-delete" review_id="{{ review.id }}">Delete</button>
             <button class="btn btn-edit" review_id="{{ review.id }}">Edit</button>
             {% endif %}
          </div>
          <br>
          <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>

    <!-- Creating new Reviews -->
   <div class="col-md-5 card mb-4 review-text no-border">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h5>Leave a Review:</h5>
        <p>Posting as: {{ user.username }}</p>
        <form id="reviewForm" class="text-left review-form" method="post"
          style="margin-top: 1.3em;">
          {{ review_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button> 
        </form>
        {% else %}
        <p>Please log in to leave a review</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Review?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure that you want to delete your Review?
        This action cannot be reversed.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" classs="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block extras %}
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock %}
