{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<!-- Market_detail.html content starts here -->
<div class="container">
  <div class="row">
    <div class="col-sm-7 mb-3 mb-sm-0">
      <div class="card mkt-detail no-border">
        <div class="card-body mkt-detail">
          <h5 class="card-title">Market Details</h5>
          <p class="card-text sm-star">
              <Strong> Location :</strong> {{ market.location }}<br>
              <strong> Day/Time :</strong> {{ market.day_time }}<br>
              <strong> Review Rating :</strong> 
              {% if market_stars == 0 %}
              0
              {% elif market_stars == 1 %}
              <i class="fa-solid fa-star"></i>
              {% elif market_stars == 2 %}
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              {% elif market_stars == 3 %}
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              {% elif market_stars == 4 %}
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              {% elif market_stars == 5 %}
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              {% else %}
              No reviews yet
              {% endif %}
          </p>
          <p class="card-text">
              {{ market.content | safe }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-5 mb-3 mb-sm-0">
      <div class="card mkt-map h-100">
        <div class="card-body">
          <iframe
            title=" {{ market.name}} {{key}}"
            height = "100%"
            width = "100%"
            frameborder="0" style="border:0"
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key={{ key }}&q={{ market.location }}&center={{ market.latitude }}, {{ market.longitude }}&zoom=14">
          </iframe>      
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
</div>

<!-- Displaying count of reviews 
<div class="row">
  <div class="col-12">
    <strong class="text-secondary">
      <i class="far fa-comments"></i> {{ review_count }}
    </strong>
  </div>
  <div class="col-12">
    <hr>
  </div>
</div>-->

<!-- Displaying Reviews -->
<div class="container">
  <div class="row">
    <div class="col-md-7 card mb-4 mt-3 no-border">
      <h5>Reviews: {{ review_count }}</h5>    
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
        to iterate through each review in reviews -->
        {% for review in reviews %}
          <div class="shadow review-text p-2 reviews
            {% if not review.approved and review.author == user %}
            faded{% elif not review.approved %} d-none{% endif %}">
            <p class="font-weight-bold">
              {{ review.created_on }}&nbsp|&nbsp
              <span class="font-weight-normal"> 
                {{ review.stars_rating }} star review by:&nbsp 
              </span> 
              <span class="font-weight-normal fst-italic">
                {{ review.author }}
              </span> 
              <span class="font-weight-normal">
              {{ review.visit_again.value }} 
              </span> 
            </p>
            <div id="review{{ review.id }}">
              {{ review.body | linebreaks }}
            </div>
            {% if not review.approved and review.author == user %}
            <p class="approval">
              This review is awaiting approval
            </p>
            {% endif %}
            {% if user.is_authenticated and review.author == user %}
              <button class="btn-edit btn" review_id="{{ review.id }}">Edit</button>
              <button class="btn btn-delete" review_id="{{ review.id }}">Delete</button>
            {% endif %}
          </div>
          <br>
          <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>

    <!-- Creating new Reviews -->
  <div class="col-md-5 card mb-4 mt-3 review-text no-border">
    <div class="card-body">
      {% if user.is_authenticated %}
      <h3>Leave a Review:</h3>
      <p>Posting as: {{ user.username }}</p>
      <form id="reviewForm" class="text-left" method="post"
        style="margin-top: 1.3em;">
        {{ review_form | crispy }}
        {% csrf_token %}
        <button id="submitButton" type="submit"
        class="btn btn-signup btn-lg">Submit</button> 
      </form>
      {% else %}
      <p>Please log in to leave a review</p>
      {% endif %}
    </div>
  </div>
  </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deletModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Review?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure that you want to delete your Review?
        This action cannot be reversed.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" classs="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block extras %}
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock extras %}