

.hero-section {
    background-image: url('https://res.cloudinary.com/dr6yvvzcb/image/upload/v1738441517/stackedVeg2_jrcd48.jpg');
    background-size: cover;
    color: #F9FAFC; /*rgb(51, 170, 51) /*#4A4A4F*/
    border: 1px solid #4A4A4F;
}

.hero-section h1 {
    font-size: 3rem;
    /*background-color: rgba(74, 74, 79, 0.5)/* rgba(51, 170, 51, 0.2)*/
    font-weight: bold;
    align-self: start;
}

.hero-section p {
    font-size: 1.2rem;
    color:#F9FAFC;
    /*background-color: rgba(74, 74, 79, 0.5);*/
}

.hero-text {
    background-color: rgba(74, 74, 79, 0.5) ;
}
