/* Google font styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* General styles */
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: white;
    color: #3B3B3B;
}

.brand {
    font-family: Lato;
    font-size: 1.2rem;
    font-weight: 600;
    color: #3B3B3B;
}

.pad-3 {
    padding: 3px 12px;
}

.no-border {
    border: none;
}

.error-page p {
    text-align: center;
    background-color: white;
    padding: 10px;
    color:#5cb85c;
}

.list-inline {
    margin-bottom: 2px;
}

.container hr{
    color: #4A4A4F;
    height: 2px;
    font-size: 0;
    border: 0;
}

.errorlist {
    color: red;
    list-style: none;
}

/* Header */
header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Navigation styles */
.navbar i {
    color:  #5cb85c;
}

.navbar {
    border-bottom: thin solid rgb(196, 195, 195);
    padding-top: 10px;

}

.nav-link:hover {
    color: #3B3B3B;
    font-weight: bolder;
}

.nav-link:active {
    color: #3B3B3B;
    font-weight: bolder;
}

footer {
    color: #3B3B3B;
    font-weight: 300;
    border-top: thin solid rgb(196, 195, 195);
}

.created-by {
    padding-top: 0px;
    margin-bottom: 10px;
}

.socials {
    padding-top: 6px;
}

.socials i {
    font-size: 18px; 
    color: #3B3B3B;
    padding-top: 10px;
    padding-bottom: 0px; 
    padding-left: 10px;
    padding-right: 10px;

}

.quote-row {
    background-color: #5cb85c;
}

.quote {
    background-color: #5cb85c;
    font-size: 14px;
    font-style: italic;
    padding: 2px;
    padding-top: 10px;
    text-align: center;
    align-content: center;
    border: none;
}

.link {
    color:#5cb85c;
    text-decoration: none;
}

.page-link {
    color: #4A4A4F;
    margin-top: 10px;
    border: none;
    font-weight: 500;
}


/* Hero styles */
.hero-section {
    background-image: url(https://res.cloudinary.com/dr6yvvzcb/image/upload/v1740789064/stackedVeg2lrg_rj5cls.jpg);
    background-size: cover;
    color: white; 
    margin-top: 0;
    min-height: 225px;
}

.hero-text {
    background-color: rgba(74, 74, 79, 0.7);
}

.hero-section h1 {
    font-size: 2rem;
    font-weight: bold;
    align-self: start;
    color:white;
}

.hero-section p {
    font-size: 1.2rem;
    color: white;
}

.logged-box {
    background-color: #5cb85c;
    padding-top: 1px;
    padding-bottom: 0px;
    justify-content: end;
    margin-bottom: 0;
}

.logged-text {
    text-align: right;
    color: white;
}


/* News page styles */
.news {
    color: #3B3B3B;
    padding: 8px;
}

.news h5 {
    background-color: #5cb85c;
    padding: 8px;
}

#headlines {
    background-color: #5cb85c;
    color: white;
    padding: 15px;
}


/* Card styles */
.card {
    background-color: white;
    padding: 5%;
    text-align: center;
}

.card-title {
    color: #4A4A4F;
    text-decoration: none;
}
.card-title:hover {
    color: #5cb85c;
}

.card a {
    text-decoration: none;
}

.mkt-detail {
    text-align:left;
}

.mkt-detail p {
    margin-bottom: 0%;
}

.market-grid {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

#mkt-content {
    --bs-gutter-x: 0;
}

.mkt-center {
    justify-content: center;
}


/* Image styles */
.sm-star i {
    color:  #5cb85c;
}


/*Button styles */
.btn-delete, .btn-edit {
    color: #4A4A4F;
}

.btn-login,
.btn-signup,
.btn-logout {
    background-color: #5cb85c;
    color:#4A4A4F;
    align-self: center;
}

.btn-login:hover,
.btn-signup:hover,
.btn-logout:hover {
    background-color:#4A4A4F;
    color:white; 
}

.btn-login:active,
.btn-signup:active,
.btn-logout:active {
    background-color:#4A4A4F;
    color:white; 
}



/* Market detail styles */
.visit {
    --bs-gutter-x: 0%;
    align-items: center;
    padding: 0px;
    margin-top: 0px;
}

.progress {
    padding: 0px;
    background-color: white;
    height: 1.2rem;
}

.progress-bar {
    padding: 0px;
    margin-right:0px;
}

.review-text {
    text-align: left;
    background-color: white;
}


/* Map styles */
.map-style {
    flex-grow: 1;
    padding: 0px;
    margin-top: 0px;
    min-height: 250px;
    border: none; 
}


/* Carousel styles */
.tab-content {
    border-left: 1px solid #dee2eb;
    border-bottom: 1px solid #dee2eb;
    border-right: 1px solid #dee2eb;
}

.card-header {
    background-color: white;
    padding-left: .5rem;
}

.carousel-pic {
    flex-grow: 1;
    width: 100%;
    align-items: center;
    padding: 2px;
    margin-top: 0px;
    max-height: 250px;
}

.carousel-item {
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
}

.carousel-inner {
    padding-left: 20px;
    padding-right: 20px;
}


/* Form sytles */
.signup {
    padding: 6px;
}

.contact-form {
    margin-top: 12px;
    margin-bottom: 10px;
}

.form-border-pad {
    border: solid 1px #5cb85c;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.search-box {
    border-radius: 20px 0 0 20px;
    border: 1px solid #A6A6A6;
}

.search-box::placeholder {
    
    color: #A6A6A6;
}


.search-btn {
    border: 1px solid #A6A6A6;
    border-radius: 0 20px 20px 0;
}

.pagination {
    justify-self: center;
    margin-top: 10px;
    justify-content: center;
}


/* Media Queries*/
@media screen and (min-width: 768px) {
    .login {
        text-align: center;
    } 
    .signup {
        text-align: center;
    }
    .signup ul {
        list-style-position: inside;
    }
}