{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container">
    <div class="row">
        <div class = "col-sm-7 mt-3">
            <!-- Title -->
            <h3>Contact Farmers Market Review</h3>
            <!-- Content -->
            <p>
                We are passionate about supporting rural communities and protecting the environment 
                in which we all live. 
            </p>
            <p>  
                Please join us in supporting our local famers markets, get in touch using the form below if you
                <ul>
                    <li>Would like to add a new market to our list.</li>
                    <li>Have an upcoming local event that you would like to include in our monthly newsletter -<i> coming soon</i>.</li>
                    <li>Have an idea for an article you would like to see published in our newsletter -<i> coming soon</i>.</li>
                    <li>Have any feedback or queries.</li>
                </ul>
            </p>
        </div>
        <div class="col-sm-5 text-left">
            <!-- form -->
            <form id="ContactForm" class="contact-form shadow form-border-pad" method="post">
                {{ contact_form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit"
                class="btn btn-signup btn-lg">Submit</button> 
            </form>
        </div>
    </div>
</div>

{% endblock content %}