/* Google font styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* General styles */
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: white;
    color: #4A4A4F;
}

.brand {
    font-family: Lato;
    font-size: 1.2rem;
    font-weight: 600;
    color: #4A4A4F;
}

.pad-3 {
    padding: 3px 12px;
}

.no-border {
    border: none;
}

.error-page p {
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    color:#5cb85c;
}

.list-inline {
    margin-bottom: 2px;
}

.container hr{
    color: #4A4A4F;
    background: #4A4A4F;
    height: 2.5px;
    font-size: 0;
    border: 0;
}

/* Header */
header {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Navigation styles */
.navbar i {
    color:  #5cb85c;
}

.navbar {
    border-bottom: thin solid rgb(196, 195, 195);

}

.nav-link:hover {
    color: #4A4A4F;
    font-weight: bolder;
}

.nav-link:active {
    color: #4A4A4F;
    font-weight: bolder;
}

footer {
    background-color: #5cb85c;
    color: #F9FAFC;
    font-weight: 300;
}

footer i {
    color:#F9FAFC;
    size: 2em;
    padding-top: 10px;
    padding-bottom: 0px; 
    padding-left: 10px;
    padding-right: 10px;
}

.created-by {
    padding-top: 0px;
    margin-bottom: 10px;
}

.socials {
    padding-top: 6px;
}

.socials i {
    font-size: 18px; 
    font-weight: 200;
    color: #F9FAFC;
}

.link {
    color:#5cb85c;
    text-decoration: none;
}

.page-link {
    color:#5cb85c;
    margin-top: 10px;
}

/* Hero styles */
.hero-section {
    background-image: url(https://res.cloudinary.com/dr6yvvzcb/image/upload/v1740789064/stackedVeg2lrg_rj5cls.jpg);
    background-size: cover;
    color: #F9FAFC; 
    margin-top: 0;
    min-height: 225px;
}

.hero-text {
    background-color: rgba(74, 74, 79, 0.5) ;
}

.hero-section h1 {
    font-size: 2rem;
    font-weight: bold;
    align-self: start;
    color:#F9FAFC;
}

.hero-section p {
    font-size: 1.2rem;
    color:#F9FAFC;
}

.logged-box {
    background-color: #5cb85c;
    padding: 0;
    justify-content: end;
    margin-bottom: 0;
}

.logged-text {
    text-align: right;
    color: #F9FAFC;
}

/* News Bar styles */
.news-bar {
    background-color: #5cb85c;
    color: #F9FAFC;
    padding: 15px;
}

/* Card styles */
.card {
    background-color: white;
    padding: 5%;
    text-align: center;
}

.card-title {
    color: #4A4A4F;
    text-decoration: none;
}
.card-title:hover {
    color: #5cb85c;
}

.card a {
    text-decoration: none;
}

.mkt-box {
    border-style: 1px solid #4A4A4F;
}

.mkt-detail {
    text-align:left;
}

.mkt-detail p {
    margin-bottom: 0%;
}

.market-grid {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

#mkt-content {
    --bs-gutter-x: 0;
}

.mkt-center {
    justify-content: center;
}

/* Image styles */
.mkt-image {
    max-height: 308px;
}

.sm-star i {
    color:  #5cb85c;
    size: 1em;
}


/*Button styles */

.btn-delete, .btn-edit {
    /*font-size: 1.2rem;
    font-weight: 600;*/
    color: #4A4A4F;
}

.btn-login,
.btn-signup,
.btn-logout {
    background-color: #5cb85c;
    color:#4A4A4F;
    align-self: center;
}

.btn-login:hover,
.btn-signup:hover,
.btn-logout:hover {
    background-color:#4A4A4F;
    color:#F9FAFC; 
}

.btn-login:active,
.btn-signup:active,
.btn-logout:active {
    background-color:#4A4A4F;
    color:#F9FAFC; 
}


/* Market detail styles */
.visit {
    --bs-gutter-x: 0%;
    align-items: center;
    padding: 0px;
    margin-top: 0px;
}

.progress {
    padding: 0px;
    background-color: white;
    height: 1.2rem;
}

.progress-bar {
    padding: 0px;
    margin-right:0px;
}

.review-text {
    text-align: left;
    background-color: white;
}

.review-box {
    background-color: #d8ffb3;
}


/* Map styles */
.map-style {
    flex-grow: 1 1;
    padding: 0px;
    margin-top: 0px;
    min-height: 250px;
    border: none; 
}


/* Carousel styles */
.tab-content {
    border-left: 1px solid #dee2eb;
    border-bottom: 1px solid #dee2eb;
    border-right: 1px solid #dee2eb;
}

.card-header {
    background-color: white;
    padding-left: .5rem;
}

.carousel-pic {
    flex-grow: 1 1;
    width: 100%;
    align-items: center;
    padding: 2px;
    margin-top: 0px;
    max-height: 250px;
}

.carousel-item {
    align-items: center;
    
    margin-top: 0px;
    padding-top: 0px;
}

.carousel-inner {
    padding-left: 20px;
    padding-right: 20px;
}


/* Form sytles */
.signup {
    padding: 6px;
}

.contact-form {
    margin-top: 12px;
    margin-bottom: 10px;
}

.form-border-pad {
    border: solid 1px #5cb85c;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.search-box {
    border-radius: 20px 0 0 20px;
}

.search-box::placeholder {
    color: #4A4A4F;
    opacity: 0.4;
}

.search-btn {
    border: 1px solid #ced4da;
    border-radius: 0 20px 20px 0;
}


/* Media Queries*/
@media screen and (min-width: 768px) {
    .login {
        text-align: center;
    } 
    .page-link {
        border-top: 0px;
    }
    .signup {
        text-align: center;
    }
    .signup ul {
        list-style-position: inside;
    }
}

/*Media Query: laptops and desktops (992px and up) */
/* @media screen and (min-width: 992px) { }*/